
<div class="dialog-overlay op-dark md-padding" layout="row" layout-align="center center">
	<md-dialog aria-label="Login" ng-cloak>
		<form ng-submit="submit()">
			

			<md-dialog-content style="max-width: 800px; max-height: 810px;">

				<md-button class="btn-block bg-darkBlue fg-white btn-facebook" ng-click="loginWithFacebook()">
					<div class="icon-facebook"></div> Login with facebook
				</md-button>

			</md-dialog-content>


			<md-toolbar>
				<div class="md-toolbar-tools">
					<h2>Login</h2>
					<span flex></span>
					<md-button class="md-icon-button" style="background-color: rgb(33, 150, 243);" ng-click="cancel()">
						<div class="fg-white icon-cancel-2 icon-1x" aria-label="Close dialog"></div>
					</md-button>
				</div>
			</md-toolbar>
		</form>
	</md-dialog>


</div>

<my-pleaseWait busy="isBusy">
	מתחבר, אנא המתן... <br />
	(התהליך יכול לקחת מספר דקות)
</my-pleaseWait>